<p id="notice"><%= notice %></p>

<h1>User Books</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ids.each do |id| %>
      <tr>
        <td><%= User.where(id: id.user_id).last.username %></td>
        <td><%= Book.where(id: id.book_id).last.title %></td>
        <td><%= link_to 'Show', id %></td>
        <td><%= link_to 'Edit', edit_id_path(id) %></td>
        <td><%= link_to 'Destroy', id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Book', new_id_path %>
<%= link_to 'Book Index', books_path %>
<%= link_to 'User Index', users_path %>